/* Place your CSS styles in this file */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: none;
}

.logo img {
    width: 140px;
    height: 140px;
    margin-right: 10px;
}

.logo a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    /* Remove list-style dots */
    display: flex;
    gap: 20px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.nav-links li:hover .sub-menu {
    display: block;
}

.sub-menu li {
    padding: 10px;
}

.sub-menu a {
    color: #333;
    font-weight: normal;
}

/* Submenu images */
.sub-menu img {
    max-width: 50px;
    max-height: 50px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .logo img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .nav-links {
        flex-direction: column;
    }

    .nav-links li {
        position: relative;
        margin-bottom: 10px;
    }

    .nav-links li:hover .sub-menu {
        position: static;
        display: block;
        box-shadow: none;
    }

    /* Hover effect for menu links */
    .nav-links li a:hover {
        background-color: #f2f2f2;
    }
}